app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: flux
  content:
    source_repo_url: check2
    source_repo_branch: check1
    dir_path:
      title: helm_chart
      path: helm_chart
app_test: []
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Apoorva Singh Gangwar
lastUpdatedOn: 2023-01-04T08:14:08.769Z
