build:
  type: None
  content: ''
deploy:
  type: text
  content: |
    #/bin/sh

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},imagePullPolicy=Always,namespace=${ROOST_NAMESPACE}"

    helm upgrade chating-app ./helm_chart/ -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
test: []
uninstall:
  type: None
  content: ''
lastUpdatedBy: Apoorva Singh Gangwar
lastUpdatedOn: 2022-10-18T16:10:18.094Z
